body {
    background-color: cornflowerblue;
    font:normal 15pt Arial;
    margin: auto;
}
header {
    color: white;
    text-align: center;
    margin: auto;
}
section {
    margin:auto;
    background: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.385);
    
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}